* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,121,9,1) 35%, rgba(0,212,255,1) 100%);
}
h1{
    display: flex;
    font: 800;
    color: blueviolet;
    align-items: center;
    
}
  